<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Terms of Use of Konnect</title>
        <style>
            ol {
                counter-reset: item
            }

            li {
                display: block
            }

            li:before {
                content: counters(item, ".") " ";
                counter-increment: item
            }

            .hiddenBlock{
                display: none;
            }
        </style>
    </head>

    <body>

        <h2>TERMS OF USE (KONNECT APP)</h2>
        <hr />

        <ol>
            <li><b>TERMS OF USE</b></li>
            <p>
                By downloading, browsing, accessing or using this Sample Store Konnect Application (“Konnect
                Application”), you agree to be bound by these Terms and Conditions of Use. We reserve the right to amend
                these terms and conditions at any time. If you disagree with any of these Terms and Conditions of Use,
                you must immediately discontinue your access to the Konnect Application and your use of the services
                offered on the Konnect Application. Continued use of the Konnect Application will constitute acceptance
                of these Terms and Conditions of Use, as may be amended from time to time.
            </p>


            <li><b>DEFINITIONS</b></li>
            <p>
                In these Terms and Conditions of Use, the following capitalised terms shall have the following meanings,
                except where the context otherwise requires:
                "Register" means to create an Account on the Konnect Application and "Registration" means the act of
                creating such an Account.
                "Services" means all the services provided by Konnect Application to Users, and "Service" means any one
                of them,
                "Users" means users of the Konnect Application, including you and "User" means any one of them.
            </p>

            <li><b>GENERAL ISSUES ABOUT THE KONNECT APPLICATION AND THE SERVICES</b>
                <ol>
                    <li>
                        Applicability of terms and conditions: The use of any Services and/or the Konnect Application
                        and
                        the making of any Redemptions are subject to these Terms and Conditions of Use.
                    </li>
                    <li>Scope: The Konnect Application, the Services and any Redemptions are for your non-commercial,
                        personal use only and must not be used for business purposes.</li>
                    <li>Prevention on use: We reserve the right to prevent you using the Konnect Application and the
                        Service
                        (or any part of them) and to prevent you from making any Redemptions.</li>
                    <li>License to Use Material: By submitting any text or images (including photographs) (“Material”)
                        via
                        the Application, you represent that you are the owner of the Material, or have proper
                        authorization
                        from the owner of the Material to use, reproduce and distribute it. You hereby grant us a
                        worldwide,
                        royalty-free, non-exclusive license to use the Material to promote any products or services.
                    </li>
                </ol>
            </li>

            <li><b>YOUR OBLIGATIONS</b>
                <ol>
                    <li>Accurate information: You warrant that all information provided on Registration and contained as
                        part of your Account is true, complete and accurate and that you will promptly inform us of any
                        changes to such information by updating the information in your Account.</li>
                    <li>Prohibitions in relation to usage of Services or Konnect Application: Without limitation, you
                        undertake not to use or permit anyone else to use the Services or Konnect Application:-</li>
                    <ol>
                        <li>to send or receive any material which is not civil or tasteful</li>
                        <li>to send or receive any material which is threatening, grossly offensive, of an indecent,
                            obscene
                            or menacing character, blasphemous or defamatory of any person, in contempt of court or in
                            breach of confidence, copyright, rights of personality, publicity or privacy or any other
                            third
                            party rights;</li>
                        <li>to send or receive any material for which you have not obtained all necessary licences
                            and/or
                            approvals (from us or third parties); or which constitutes or encourages conduct that would
                            be
                            considered a criminal offence, give rise to civil liability, or otherwise be contrary to the
                            law
                            of or infringe the rights of any third party in any country in the world;</li>
                        <li>to send or receive any material which is technically harmful (including computer viruses,
                            logic
                            bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software
                            or
                            harmful data);</li>
                        <li>to cause annoyance, inconvenience or needless anxiety;</li>
                        <li>to intercept or attempt to intercept any communications transmitted by way of a
                            telecommunications system;</li>
                        <li>for a purpose other than which we have designed them or intended them to be used;</li>
                        <li>for any fraudulent purpose;</li>
                        <li>other than in conformance with accepted Internet practices and practices of any connected
                            networks;</li>
                        <li>in any way which is calculated to incite hatred against any ethnic, religious or any other
                            minority or is otherwise calculated to adversely affect any individual, group or entity; or
                        </li>
                        <li>in such a way as to, or commit any act that would or does, impose an unreasonable or
                            disproportionately large load on our infrastructure.</li>
                    </ol>
                </ol>
            </li>

            <li><b>RULES ABOUT USE OF THE SERVICE AND THE KONNECT APPLICATION</b>
                <ol>
                    <li>We will use reasonable endeavours to correct any errors or omissions as soon as practicable
                        after being notified of them. However, we do not guarantee that the Services or the Konnect
                        Application will be free of faults, and we do not accept liability for any such faults, errors
                        or omissions. In the event of any such error, fault or omission, you should report it by
                        contacting us at konnectu3a@gmail.com</li>
                    <li>We do not warrant that your use of the Services or the Konnect Application will be uninterrupted
                        and we do not warrant that any information (or messages) transmitted via the Services or the
                        Konnect Application will be transmitted accurately, reliably, in a timely manner or at all.
                        Notwithstanding that we will try to allow uninterrupted access to the Services and the Konnect
                        Application, access to the Services and the Konnect Application may be suspended, restricted or
                        terminated at any time.</li>
                    <li>We reserve the right to change, modify, substitute, suspend or remove without notice any
                        information or Services on the Konnect Application from time to time. Your access to the Konnect
                        Application and/or the Services may also be occasionally restricted to allow for repairs,
                        maintenance or the introduction of new facilities or services. We will attempt to restore such
                        access as soon as we reasonably can. For the avoidance of doubt, we reserve the right to
                        withdraw any information or Services from the Konnect Application at any time.</li>
                    <li>We reserve the right to block access to and/or to edit or remove any material which in our
                        reasonable opinion may give rise to a breach of these Terms and Conditions of Use.</li>
                </ol>
            </li>

            <li><b>SUSPENSION AND TERMINATION</b>
                <ol>
                    <li>If you use (or anyone other than you, with your permission uses) the Konnect Application, any
                        Services in contravention of these Terms and Conditions of Use, we may suspend your use of the
                        Services and/or Konnect Application.</li>
                    <li>If we suspend the Services or Konnect Application, we may refuse to restore the Services or
                        Konnect Application for your use until we receive an assurance from you, in a form we deem
                        acceptable, that there will be no further breach of the provisions of these Terms and Conditions
                        of Use.</li>

                    <li>Our rights under this Clause 6 shall not prejudice any other right or remedy we may have in
                        respect of any breach or any rights, obligations or liabilities accrued prior to
                        termination.</li>
                    <li>Without limitation to anything else in this Clause 6, we shall be entitled immediately or at any
                        time (in whole or in part) to: (a) suspend the Services and/or Konnect Application; (b) suspend
                        your use of the Services and/or Konnect Application; and/or (c) suspend the use of the Services
                        and/or Konnect Application for persons we believe to be connected (in whatever manner) to you,
                        if:</li>
                    <ol>
                        <li>you commit any breach of these Terms and Conditions of Use;</li>
                        <li>we suspect, on reasonable grounds, that you have, might or will commit a breach of these
                            Terms and Conditions of Use; or</li>
                        <li>we suspect, on reasonable grounds, that you may have committed or be committing any fraud
                            against us or any person.</li>
                    </ol>


                </ol>
            </li>



            <li><b>DISCLAIMER AND EXCLUSION OF LIABILITY</b>
                <ol>
                    <li>The Konnect Application, the Services, the information on the Konnect Application and use of all
                        related facilities are provided on an "as is, as available" basis without any warranties whether
                        express or implied.</li>
                    <li>We do not warrant that the Konnect Application will always be accessible, uninterrupted, timely,
                        secure, error free or free from computer virus or other invasive or damaging code or that the
                        Konnect Application will not be affected by any acts of God or other force majeure events,
                        including inability to obtain or shortage of necessary materials, equipment facilities, power or
                        telecommunications, lack of telecommunications equipment or facilities and failure of
                        information technology or telecommunications equipment or facilities.</li>
                    <li>While we may use reasonable efforts to include accurate and up-to-date information on the
                        Konnect Application, we make no warranties or representations as to its accuracy, timeliness or
                        completeness.</li>
                    <li>We shall not be liable for any acts or omissions of any third parties howsoever caused, and for
                        any direct, indirect, incidental, special, consequential or punitive damages, howsoever caused,
                        resulting from or in connection with the Konnect Application and the services offered in the
                        Konnect Application, your access to, use of or inability to use the Konnect Application or the
                        services offered in the Konnect Application, reliance on or downloading from the Konnect
                        Application and/or services, or any delays, inaccuracies in the information or in its
                        transmission including but not limited to damages for loss of business or profits, use, data or
                        other intangible, even if we have been advised of the possibility of such damages.</li>
                    <li>We shall not be liable in contract, tort (including negligence or breach of statutory duty) or
                        otherwise howsoever and whatever the cause thereof, for any indirect, consequential, collateral,
                        special or incidental loss or damage suffered or incurred by you in connection with the Konnect
                        Application and these Terms and Conditions of Use. For the purposes of these Terms and
                        Conditions of Use, indirect or consequential loss or damage includes, without limitation, loss
                        of revenue, profits, anticipated savings or business, loss of data or goodwill, loss of use or
                        value of any equipment including software, claims of third parties, and all associated and
                        incidental costs and expenses.</li>
                    <li>The above exclusions and limitations apply only to the extent permitted by law. None of your
                        statutory rights as a consumer that cannot be excluded or limited are affected.</li>
                    <li>Notwithstanding our efforts to ensure that our system is secure, you acknowledge that all
                        electronic data transfers are potentially susceptible to interception by others. We cannot, and
                        do not, warrant that data transfers pursuant to the Konnect Application, or electronic mail
                        transmitted to and from us, will not be monitored or read by others.</li>
                </ol>

            </li>

            <li><b>INDEMNITY</b></li>
            <p>
                You agree to indemnify and keep us indemnified against any claim, action, suit or proceeding brought or
                threatened to be brought against us which is caused by or arising out of (a) your use of the Services,
                (b) any other party’s use of the Services using your user ID and/or any identifier number, and/or (c)
                your breach of any of these Terms and Conditions of Use, and to pay us damages, costs and interest in
                connection with such claim, action, suit or proceeding.
            </p>

            <li><b>AMENDMENTS</b>
                <ol>
                    <li>We may periodically make changes to the contents of the Konnect Application, including to the
                        descriptions and prices of services advertised, at any time and without notice. We assume no
                        liability or responsibility for any errors or omissions in the content of the Konnect
                        Application.</li>
                    <li>We reserve the right to amend these Terms and Conditions of Use from time to time without
                        notice. The revised Terms and Conditions of Use will be posted on the Konnect Application and
                        shall take effect from the date of such posting. You are advised to review these terms and
                        conditions periodically as they are binding upon you.</li>
                </ol>
            </li>


            <li><b>APPLICABLE LAW AND JURISDICTION</b>
                <ol>
                    <li>The Konnect Application can be accessed from all countries around the world where the local
                        technology permits. As each of these places have differing laws, by accessing the Konnect
                        Application both you and we agree that the laws of the India, without regard to the conflicts of
                        laws principles thereof, will apply to all matters relating to the use of the Konnect
                        Application.</li>
                    <li>You accept and agree that both you and we shall submit to the exclusive jurisdiction of the
                        courts of the India in respect of any dispute arising out of and/or in connection with these
                        Terms and Conditions of Use.</li>
                </ol>
            </li>



            <li><b>Privacy Policy</b>
                <ol>
                    <li>Access to the Konnect Application and use of the Services offered on the Konnect Application
                        and/or its group of companies is subject to this Privacy Policy. By accessing the Konnect
                        Application and by continuing to use the Services offered, you are deemed to have accepted this
                        Privacy Policy, and in particular, you are deemed to have consented to our use and disclosure of
                        your personal information in the manner prescribed in this Privacy Policy and for the purposes
                        set out in Clauses 3.4. We reserve the right to amend this Privacy Policy from time to time. If
                        you disagree with any part of this Privacy Policy, you must immediately discontinue your access
                        to the Konnect Application and your use of the Services.</li>
                    <li>As part of the normal operation of our Services, we collect, use and, in some cases, disclose
                        information about you to third parties. Accordingly, we have developed this Privacy Policy in
                        order for you to understand how we collect, use, communicate and disclose and make use of your
                        personal information when you use the Services on the Konnect Application:-
                        (a) Before or at the time of collecting personal information, we will identify the purposes for
                        which information is being collected.
                        (b) We will collect and use of personal information solely with the objective of fulfilling
                        those purposes specified by us and for other compatible purposes, unless we obtain the consent
                        of the individual concerned or as required by law.
                        (c) We will only retain personal information as long as necessary for the fulfillment of those
                        purposes.
                        (d) We will collect personal information by lawful and fair means and, where appropriate, with
                        the knowledge or consent of the individual concerned.
                        (e) Personal information should be relevant to the purposes for which it is to be used, and, to
                        the extent necessary for those purposes, should be accurate, complete, and up-to-date.
                        (f) We will protect personal information by reasonable security safeguards against loss or
                        theft, as well as unauthorized access, disclosure, copying, use or modification.
                        We are committed to conducting our business in accordance with these principles in order to
                        ensure that the confidentiality of personal information is protected and maintained.

                    </li>
                </ol>
            </li>



        </ol>

        <p class="hiddenBlock">
            First Created: 28 June 2020
            Last Updated: 28 June 2020
        </p>

    </body>

</html>